div#algorithm {
  padding-left: 1.3em;
}

body {
  padding : 2em;
  margin  : 0;
}

form {
  position: relative;
  margin : 0 auto;
}

label, output {
    display:inline-block;
}

textarea {
  border-radius : 5px;
 	display       : inline;
  margin        : 10px 0 0 -10px;
  overflow      : auto;
  padding       : 10px;
  width         : 50vw;
}

textarea:focus {
  background   : rgba(0,0,0,.1);
  outline      : none;
}

output {
 	display     : inline;
}

#button1 {
  left         : 440px;
}
#button2 {
  left         : 540px;
}

button {
  padding      : 5px;

  font         : bold .8em sans-serif;
  border       : 2px solid #333;
  border-radius: 5px;
  background   : none;

  cursor       : pointer;
}

button:after {
  content: " >>>";
}

button:hover, button:focus {
  outline   : none;
  background: #000;
  color   : #FFF;
}

svg {
  height : 500px; 
  width  : 100%;
}

svg text {
  font-size: 0.99vw;
  dominant-baseline: middle;
}

rect {
	fill:none;
	stroke:Gray;
	fill-opacity:0.3;
}
